.divRepetidos{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    margin: 1%;
    justify-content: center;
    align-items: center;

}

h3{
    text-align: center;
    margin: 4%;
}