.editar{
    margin-top: 10px;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    background-color: #069a94;
    padding: 10px 20px;
    font-size: 1.1rem;
    color: whitesmoke;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    transition: 0.2s;
    margin-top: 1rem;

    &:hover{
        transform: scale(1.2);
        
    }

    .lapiz{
        width: 30px;
        height: auto;
    }

  }