

 #creacromo{

    width: 90%;
    min-width: 300px;
    max-width: 700px;
    margin-top: 5%;
    margin: 2%;
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
}
    .agrupa {
        width: 90%;
        gap: 5%;
        max-width: 100%;

        .campo{

            width: 500px;
        }
        .opciones{
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            gap: 30px;
            color:#069a94;
            font-weight: 600;

            .campito{
                display: flex;
                flex-direction: column;
                align-items: center;
                min-width: 250px;
            }
            .campitoposicion{
                display: flex;
                flex-direction: column;
                align-items: center;
                max-width: 50px;
            }
        }

  }
    

    .linkregistro{
        margin-bottom: 17%;
    }

    .backToAlbum{
        margin-top: 10px;
        box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
        background-color: #069a94;
        padding: 10px 20px;
        font-size: 1.1rem;
        color: whitesmoke;
        font-weight: 600;
        border: none;
        border-radius: 10px;
        transition: 0.2s;
        margin-top: 1rem;

        &:hover{
            transform: scale(1.2);
            
        }
      }